extends layout

block content
	body.blog
		include homepage/navbar
		main
			section#blog
				h1 #{title}
				if blogs
					each blog in blogs
						div.blog
							h2 #{blog.title}
							h3 Posted by: #{blog.username)
							p #{blog.blogContent}

							ul.reactions
								li
									p.showOnHover Like
									img(src='/images/reactions/like.png')
									p #{blog.likeCount}
								li
									p.showOnHover Love
									img(src='/images/reactions/love.png')
									p #{blog.loveCount}
								li
									p.showOnHover Thanks
									img(src='/images/reactions/thanks.png')
									p #{blog.thanksCount}
								li
									p.showOnHover Haha
									img(src='/images/reactions/haha.png')
									p #{blog.hahaCount}
								li
									p.showOnHover Wow
									img(src='/images/reactions/wow.png')
									p #{blog.wowCount}
								li
									p.showOnHover Sad
									img(src='/images/reactions/sad.png')
									p #{blog.sadCount}
								li
									p.showOnHover Angry
									img(src='/images/reactions/angry.png')
									p #{blog.angryCount}
			include homepage/contact
